@charset "UTF-8";

@layer utilities {
    .u-d-flex {
        display: flex;
    }

    .u-dir-col {
        flex-direction: column;
    }

    .u-min-md-row {
        @media (min-width: 576px) {
            flex-direction: row;
        }
    }

    .u-gap-1 {
        gap: 1rem;
    }

    .u-w-100 {
        width: 100%;
    }
}

